name: CI Pipeline

on: [push, pull_request]

jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --locked --all-extras --dev

      - name: Check formatting
        run: uv run ruff format --check

      - name: Check import sort
        run: uv run ruff check --select I

      - name: Lint code
        run: uv run ruff check

      - name: Run tests
        run: uv run pytest -v tests/
